# Pandas Analysis: Summary of Findings

## Motivation and Methodology

In order to demonstrate the efficacy of our Pandas on Ray library as a functional drop-in replacement for Pandas we wanted to calculate some notion of coverage. In other words, how much of the functionality of Pandas being used by most users do we offer an implementation for.

To arrive at some notion of this value we decided to leverage the public kernels available on Kaggle. First we wrote a scraper that would collect the top ~1900 Python files (iPython notebooks or Python scripts) sorted by votes and download the raw source code for analysis. Then using some string matching we tabulated how many Pandas methods (e.g. `pd.*`) or DataFrame methods (e.g. `df.*`) were used in each file and how many times. We then compiled those numbers into a single aggregate count of method frequency over the total 1846 scripts.

## Findings

In [5]:
import pandas as pd
pd.read_csv('results/results.csv')

                      Method  Count
0                pd.read_csv   1422
1               pd.DataFrame    886
2                  df.append    792
3                    df.mean    783
4                    df.head    783
5                    df.drop    761
6                     df.sum    755
7                      df.ge    717
8                  df.to_csv    693
9                     df.get    669
10                    df.mod    655
11                   df.mode    653
12                 df.astype    649
13                    df.sub    637
14                 pd.concat    582
15                  df.apply    577
16                pd.groupby    557
17                df.groupby    557
18                   df.join    544
19                 df.fillna    543
20                    df.max    508
21            df.reset_index    434
22                 pd.unique    433
23                     df.le    405
24                  df.count    399
25           pd.value_counts    397
26            df.sort_values    390
27              df.transform    387
28                  pd.merge    376
29                  df.merge    376
..                       ...    ...
178     df._get_numeric_data      2
179             df.nsmallest      2
180        pd.scatter_matrix      2
181           df.rename_axis      2
182          df.__setstate__      2
183               df.cumprod      2
184          df.__getstate__      2
185                df.equals      2
186           df.__getitem__      2
187            df.clip_upper      2
188              df.floordiv      2
189              df.to_excel      2
190          df.reindex_axis      1
191          pd.to_timedelta      1
192                   df.ewm      1
193           df.tz_localize      1
194            df.tz_convert      1
195                df.to_hdf      1
196                df.lookup      1
197         pd.merge_ordered      1
198             df.swaplevel      1
199     df.first_valid_index      1
200                    df.lt      1
201            df.add_suffix      1
202        pd.rolling_median      1
203              df.to_dense      1
204                   df.mad      1
205                 df.align      1
206              df.__copy__      1
207  pd.set_eng_float_format      1

[208 rows x 2 columns]